body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    color: #04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: rgba(0, 0, 0, 0);
  }
.bg-stripe{
    background-image: linear-gradient(green)
}

header{
  background-color: #04AA6D;
}

.p-1{
  padding: 1rem!important;
}
